{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint",
        "unused-imports"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "semi": 2,
        "indent": 0,
        "unused-imports/no-unused-imports": 1,
        "no-constant-condition": [2, { "checkLoops": false }],
        "@typescript-eslint/explicit-member-accessibility": 1,
        "@typescript-eslint/explicit-module-boundary-types": 0,
		"@typescript-eslint/no-explicit-any": 0,
		"@typescript-eslint/no-empty-function": 0,
		"@typescript-eslint/no-unused-vars": 0,
		"@typescript-eslint/no-var-requires": 0,
		"@typescript-eslint/no-non-null-assertion": 0,
        "@typescript-eslint/indent": 2,
        "@typescript-eslint/ban-types": 0
    },
    "env": {
        "commonjs": true,
        "browser": true,
        "node": true
    }
}